.authors {
    text-align: center;
  }
  
  .authors h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .authors ul {
    list-style: none;
    padding: 0;
  }
  
  .authors li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  