.tif-viewer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  position: relative; /* Added */
}

.viewer-label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.tif-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative; /* Added */
  z-index: 1; /* Added */
}

.tif-viewer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff; /* Set the background color as needed */
}
