.tiff-wrapper {

    margin: auto;
    margin-left: -10px;
    padding: 10px;
    border-radius: 1%;
}

.tiff-canvas{
    position: relative;
    overflow: auto;
    height: 300px;
    width: 300px;
}