.tiff-canvas{
    position: relative;
    overflow: auto;
    width: 300px;
    height: 300px;
    border: 1px solid  var(--button-color);
    border-radius: 1%;

}
.image-title{
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;
}

.tiff-wrapper{
    margin: auto;
    border-radius: 1%;
}