.stepper {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-1,
.column-2 {
  flex: 1;
  padding: 10px;
}

.column-1 {
  flex: 0 0 14%; 
}

.column-2 {
  margin-top: 20px; 
}

@media only screen and (max-width: 768px) {
  .column-1,
  .column-2 {
    flex: 0 0 100%;
    margin-left: 0;
  }
}

.stepper-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.stepper-steps {
  width: 100%;
  margin-bottom: 20px;
}

.btn-back {
  max-width: 150px;
}

.btn-run {
  display: block;
  margin-top: 20px;
  width: 100%;
  z-index: 1;
}

.box-parameters {
  padding-top: 10px;
}
