.menu-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  text-align: center;
}

.menu-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.menu-options {
  display: block;
  justify-content: center;
  margin-bottom: 10px; /* Add a 10px bottom margin */
  text-decoration: none;
}

.menu-options button {
  margin-top: 10px;
}

.menu-options:last-child {
  margin-bottom: 0;
}
