.page_container {
  margin: 0;
}

.main {
  /* border: 1px solid red; */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.tabs_container {
  /* border: 1px solid red; */
  box-sizing: border-box;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.personal_data {
  display: flex;
  box-sizing: border-box;
  margin: 5px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.data_container {
  margin-left: 20px;
}

.accordion_container {
  margin-top: 50px;
}

label{
  font-size: large;
}