.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 30px;
  min-width: fit-content;
  gap: 15px;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  display: flex;
  min-height: 30px;
}

.material-icons {
  font-size: 24px;
}

.message {
  fill: #019c9f;
}

.post {
  fill: #f47261;
}

.entry {
  fill: #e8a87c;
}

.love {
  fill: #f48fb1;
}

.avatar {
  cursor: pointer;
  padding: 1px;
}

.signout {
  height: 35px;
}

.logo-image{
  width: 50%;
  cursor: pointer;
}

:root {
  --background-dark: #232d3f;
  --background-light: #dafffb;
  --text-color-dark: #dafffb;
  --text-color-light: #04364a;
  --button-text-color-dark: #64ccc5;
  --button-text-color-dark2: #9ad294;
  --button-text-color-light: #176B87;
  --button-text-color-light2: #005B41;
  --textfield-text-color-dark: #dafffb;
  --textfield-text-color-light: #04364a;
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-color-light);
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}