.tiff-wrapper {
    width: 1050px;
    margin: auto;
    margin-left: -10px;
    padding: 10px;
    border: 1px solid #64ccc5;
    border-radius: 1%;
}

.tiff-canvas{
    position: relative;
    overflow: auto;
    height: 400px;
}