.tif-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: auto;
  flex: 1;
}

.viewer-label {
  position:absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: -45%;
  padding: 10px;
  background-color: white;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .tif-container {
    flex-direction: column;
    margin-top: 0;
  }
  .tif-viewer-container .viewer-label {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .tif-viewer:first-child {
    margin-right: 0;
  }
  .tif-viewer:last-child {
    margin-left: 0;
  }
  .tif-container {
    height: 100%;
    padding-bottom: 20px;
    overflow: auto;
  }
}